#main-doc{
  height: 100%;
  width: 100%;
}
#navbar{
  position: fixed;
  height: 100%;
  width: 300px;
}
#technical-doc-writing{
  width: 75%;
  margin-left: 320px;
}

header{
  font-weight: bold;
  font-size: 26px;
}
#navbar{
  text-align: center;
}
p{
  font-size: 20px;
}